body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 8px 16px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.gaming .music {
    background-color: lightgray;
    color: black;
}